.idea/
*.iml
.teamcity/target/
.terraform/
.terraform.lock.hcl
.terraformrc
workspace.auto.tfvars

ci/buildserver_pgdata
ci/teamcity-server-logs
!ci/teamcity-server-logs/.keep
ci/data_dir
!ci/data_dir/config/database.properties
.DS_Store